body {
  background: #85a6b1;
  margin: 50px;
  font-family: "Roboto", sans-serif;
}
.WeatherApp .border {
  border: 1px solid #ffff;
  padding: 25px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 640px;
}
h1 {
  text-align: center;
  position: -webkit-sticky;
  margin: 10px;
  font-size: 40px;
  color: #f4f4f4;
}
form {
  display: inline;
  margin: 0px 0px 0px 10px;
}
.WeatherApp .form-control {
  /*display: inline;*/

  font-size: 18px;
  font-weight: 400;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 5px;
  width: 16rem;
  transition: all 150ms ease-in-out;
}
#unitLink {
  text-decoration: none;
}
#unitLink:hover {
  color: grey;
}
a:visited {
  color: black;
}

h2 {
  font-size: 30px;
  color: #f4f4f4;
  margin: 10px 0px 5px 0px;
}
#date {
  color: #000000;
  font-size: 25px;
  margin: 10px 0px;
}

.icon {
  display: inline-block;
  margin: 0px 20px;
}
.WeatherApp .temp {
  display: inline-block;
  font-size: 45px;
  font-weight: 400;
  position: relative;
  left: 10px;
  top: 8px;
}
#temp-min {
  opacity: 0.75;
}
.WeatherApp .units {
  font-size: 16px;
  position: relative;
  top: -15px;
  left: 10px;
  cursor: default;
  color: black;
}

ul {
  display: inline;
}
li {
  text-decoration: none;
  text-transform: capitalize;
  margin: 0px;
  padding: 0px 0px 0px 0px;
  list-style: none;
}

.min-temp {
  opacity: 0.7;
}
#five-day-forecast {
  text-align: center;
  background: #85a6b1;
  width: 17rem;
  line-height: 3rem;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px 0px 10px 10px;
  /*margin: 10px 0px 10px 10px;*/
}
.WeatherForecastTemp-min {
  opacity: 0.8;
  margin-left: 5px;
}

.githubLink {
  display: block;
  margin: 0 auto;
  text-align: center;
}
